body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #4CAF50;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
opacity: 0.8;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #FFAF50;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-weight:bold;
}
.nav
{
  background-color: #000080;
  color: white;
  border: none;
  cursor: pointer;
  font-weight:bold;
  padding: 7px 10px;
  margin: 8px 0;
}
textarea{
font-family: Arial;
}
.err
{
	color:red;
  font-weight:bold;
}
h2
{
	color:#FF69B4;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {background-color: #F0F8FF;}
tr:nth-child(even) {background-color: #87CEEB;}
th
{
	background-color: #000080;
	color:white;
}